@import "common";

body {
    background: rgb(194, 219, 253);

    .clock {
        text-align: center;

        h1 {
            font-size: 40px;
            color: rgb(255, 195, 67);
            padding: 10px 0;
        }
    }

    .form {
        display: none;

        >input {
            border: none;
            width: 70%;
            text-align: center;
            margin: 0 auto;
            display: block;
            padding: 20px 0;
            border-radius: 5px;

            &:focus {
                outline: none;
            }
        }
    }

    .greeting {
        display: none;
        text-align: center;
        font-size: 24px;
        padding-top: 20px;
        color: rgb(30, 120, 255);
    }

    .showing {
        display: block;
    }

    .divTag {
        width: 100%;
        height: 200px;
        background: #666;
        padding: 30px 0;
        box-sizing: border-box;

        >p {
            width: 100%;
            height: 80px;
            background: #999;

            >span {
                display: block;
                background: #fff;
            }
        }
    }
}